

html, body {
    height: 100%;
}
body {
    margin:0px;
    padding: 0px;
    font-size: 15px;
}

.wrap {
    height: auto;
    margin: 0 auto -80px;
    min-height: 100%;
    padding: 0 0 80px;
    box-sizing: border-box;
    overflow: auto;
}

.footer {
    background-color: #111111;
    color: #eeeeee73;
    height: 150px;
    padding-top: 20px;
    padding-left: 10px;
    display: block;
    margin-top: 20px;
    box-sizing: border-box;
    position: relative;
    width: 100vw;
}
