ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #100E17;
  }
  
  li {
    float: left;
    margin: 0;
  }
  
  li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0;
  }

  .text {
    text-transform: uppercase;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 0%, rgba(252,176,69,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
  }
  .nav-menu-item {
    background-color: #100E17;
    justify-content: center;
    align-items: center;
  }
  .cardtitle {
    color: white;
  }

  .navbarstyle {
    background-color: #100E17;
    width: 100vw;
  }
