<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="RateMyP.DbConnectionString" value="Data Source=EMEA20153;Initial Catalog=ratemyp;Integrated Security=True;Pooling=False"/>
    </appSettings>
</configuration>