.home-img {
    display: flex;
    position: absolute;
    z-index: 0;
}

.home-img-dimensions {
    height: 30vw;
    width: 100vw;
}

.home-container {
    background-color: #100E17;
    width: 100vw;
    height: auto;
    display: flex;
    position: absolute;
    left: 0;
}

.search-container {
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 0%, rgba(252,176,69,1) 100%);
    border-radius: 25px;
    justify-content: center;
}

.search-container .search-text-field {
    width: 500px;
    margin-left: 8px;
    margin-right: 8px;
}

.search-text-field div input {
    font-size: 50px;
}

.buttoncolors1 {
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 0%, rgba(252,176,69,1) 100%);
    color: #100E17;
}

.buttoncolors2 {
    background-color: #100E17;
    color: #F66A27;
}



html, body {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    font-size: 15px;
}

.wrap {
    height: auto;
    margin: 0 auto -80px;
    min-height: 100%;
    padding: 0 0 80px;
    box-sizing: border-box;
    overflow: auto;
}

.footer {
    background-color: #111111;
    color: #eeeeee73;
    height: 150px;
    padding-top: 20px;
    padding-left: 10px;
    display: block;
    margin-top: 20px;
    box-sizing: border-box;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100vw;
}
