.tagbox {
    float: left;
    width: 100%;
    margin-bottom: 15px;
}

.tagbox span {
    float: left;
    padding: 5px 7px;
    width: auto;
    background: #e5e5dd;
    color: #797979;
    font-weight: 700;
    text-decoration: none;
    font-size: 11px;
    margin-right: 5px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

th.course {
    width: 25% !important
}

th.rating {
    width: 30% !important
}

th.comment {
    width: 45% !important
}