<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->
  <appSettings>
    <add key="loadedTeachersNumber" value="20" />
    <add key="apiName" value="drodzj9pr" />
    <add key="apiURL" value="https://api.cloudinary.com/v1_1/" />
    <add key="repURL" value="https://res.cloudinary.com/" />
    <add key="apiKey" value="566771129442981" />
    <add key="apiSecretKey" value="7Ghux4duxnZD8JWDXZBPzond6X0" />
  </appSettings>
</configuration>