<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->
  <appSettings>
    <add key="ImageApiName" value="drodzj9pr" />
    <add key="ImageApiURL" value="https://api.cloudinary.com/v1_1/" />
    <add key="ImageRepURL" value="https://res.cloudinary.com/" />
    <add key="ImageApiKey" value="566771129442981" />
    <add key="ImageApiSecretKey" value="7Ghux4duxnZD8JWDXZBPzond6X0" />
    <add key="LoadedTeachersNumber" value="20" />
    <add key="LoadedCoursesNumber" value="20"/>
    <add key="LeaderboardEntryThreshold" value="1"/>
    <add key="CurrentAcademicYear" value="2019"/>
    <add key="Badge.TheVeryBest" value="79193981-BDD4-4417-1154-08D77CE4D4F1"/>
    <add key="Badge.RunnerUp" value="7224DF29-7E27-4DEA-7AD8-08D77CE514E7"/>
    <add key="Badge.StrongContender" value="B02B1D9C-8C55-4927-7AD9-08D77CE514E7"/>
    <add key="Badge.TheBest" value="C96BC299-428F-460C-7ADA-08D77CE514E7"/>
    <add key="Badge.Beloved" value="9B2806D0-69A1-48E9-7ADB-08D77CE514E7"/>
    <add key="Badge.FullOfStars" value="098E4A86-4E38-4755-7ADC-08D77CE514E7"/>
    <add key="Badge.Hardmode" value="AED95096-9965-45CC-7ADD-08D77CE514E7"/>
    <add key="Badge.Leader" value="96604E99-A0EE-42A6-7ADE-08D77CE514E7"/>
  </appSettings>
</configuration>